 /* 8lt; ## &gt; */

h1{
    font-family: 'Times New Roman';
    font-size: 32px
}
 
hr{
    height: 4px;
    border-radius: 5px;
    background-color: #000000;
}

header .logo{
    width: 100%;
    max-width: 150px;
    min-width: 50px;
    height: auto;
    border-radius: 15%;
    border: 5px solid black;
    box-shadow: 15px 12px 10px rgba(0, 0, 0, 0.5);
}

footer {
    background-color: #231863;
    width: 100%;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    margin-top: 40px;
}
